.container
    .swipe#swipe.swipein
        .border
        .icons
            a(href="https://www.facebook.com/gauravguitarrocks" target="blank")
                i(class="fa fa-facebook fa-2x")
            a(href="https://www.instagram.com/ligmitz/" target="blank")
                i(class="fa fa-instagram fa-2x")
            a(href="https://in.linkedin.com/in/gaurav-pandey-412180194" target="blank")
                i(class="fa fa-linkedin fa-2x")
    .arrow#arrow
        i(class="fa fa-sort-up fa-2x")