#home
    .typewriter 
        h2(data-text='Hi, I am Gaurav Pandey.') Hi, I am Gaurav Pandey.
        br
        .ctd A web and app developer
    .mask 
        img(src="../assets/imgs/dp.png", alt="")