<!DOCTYPE html>
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        script(src="https://use.fontawesome.com/c8900ffada.js")
        meta(name="description" content="Gaurav Pandey , a student of CSE department in NIT Hamirpur, Himachal Pradesh.")
        meta(itemprop="name" content="Gaurav Pandey | NITH CSE")
        meta(itemprop="description" content="Web and Android App Developer at NIT Hamirpur.")
        meta(itemprop="image" content="")
        meta(name="keyword" content="ligmitz,Gaurav,Pandey,NITH,NIT Hamirpur,CSE")
        meta(name="og:title" content="Gaurav Pandey | NITH CSE")
        meta(name="og:description" content="A student of NIT Hamirpur interested in web and app development.")
        meta(name="og:site_name" content="Gaurav Pandey | NITH CSE")
        meta(name="og:type" content="website")
        meta(name="og:url" content="")
        meta(name="og:image" content="")
        link(rel="icon" href="imgs/logo.png" type="image/png")
        title Gaurav Pandey | NITH CSE

    body
        #nav
            include ./includes/header.pug
        #content
            .tabcontent
                include ./includes/home.pug
            .tabcontent
                include ./includes/skills.pug
            .tabcontent
                include ./includes/projects.pug
        #footer
            include ./includes/footer.pug